@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(63, 13, 162);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "mooli", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
h1{
    padding-bottom: 30px;
}
p{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
font-size: 20px;
font-weight: 500;
padding-top: 5px;
}
input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(84, 69, 39);
    margin-top: 10px;
    outline: none;
}
.login-btn{
    border: none;
    background: blue;
    color: antiquewhite;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
}
.logout-btn{
    border: none;
    background: rgb(15, 15, 15);
    color: aliceblue;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
h1::after{
    color: aquamarine;
}